.nav {
  background-color: aqua;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav :global(.active) {
  background-color: blue;
}
:global(.test) {
  background-color: red;
}
